:root {
  /* Primary and Secondary Colors */
  --primary-color: #00aeef; /* Cyan */
  --secondary-color: #ffffff; /* White */
  --accent-color: #ec008c; /* Magenta */

  /* Supporting Colors */
  --support-color-teal: #237793; /* Teal Blue */
  --support-color-fuchsia: #bd3c72; /* Fuchsia Rose */

  /* Neutral Colors for Backgrounds and Text */
  --neutral-dim-gray: #656472; /* Dim Gray */
  --neutral-outer-space: #464350; /* Outer Space */
  --neutral-anti-flash-white: #f1f1f3; /* Anti-Flash White */
  --neutral-american-silver: #ceced7; /* American Silver */
  --neutral-metallic-silver: #a7a7ab; /* Metallic Silver */

  /* Text Colors */
  --text-primary: #464350; /* Outer Space */
  --text-secondary: #656472; /* Dim Gray */

  /* Background Colors */
  --background-primary: #00aeef; /* Cyan */
  --background-secondary: #f1f1f3; /* Anti-Flash White */

  /* Typography Settings */
  /* Font Families */
  --font-heading: "Questrial", sans-serif; /* For headings */
  --font-body: "Noto Serif", serif; /* For body text */

  /* Font Sizes */
  --font-size-small: 0.875rem;
  --font-size-body: 1.1rem;
  --font-size-large: 1.8rem;
  --font-size-heading: 2.2rem;
  --font-size-heading-mobile: 2.2rem;

  /* Font Weights */
  --font-weight-light: 300; /* Light weight */
  --font-weight-regular: 400; /* Normal weight */
  --font-weight-bold: 700; /* Bold weight */

  /* Spacing Variables */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 13rem;
  --space-xxl: 4rem;

  /* Border Radius */
  --border-radius-none: 0;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 25px;
  --border-radius-pill: 50px;
  --border-radius-circle: 50%;

  /* Width/Container Sizes */
  --container-xs: 480px;
  --container-sm: 768px;
  --container-md: 1024px;
  --container-lg: 1200px;
  --container-xl: 1440px;
  --container-full: 100%;

  /* Opacity Levels */
  --opacity-none: 0;
  --opacity-low: 0.1;
  --opacity-medium: 0.5;
  --opacity-high: 0.8;
  --opacity-full: 1;
}

/* Mobile first queries */
body {
  background-color: var(--primary-color);
  font-family: var(--font-heading);
  width: 100%;
}
h1 {
  font-size: var(--font-size-heading-mobile);
}
p {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
}
.section-dark {
  color: var(--neutral-anti-flash-white);
}
.section-dark p {
  color: var(--neutral-metallic-silver);
}
.section-card {
  overflow: hidden;
  display: flex;
}
.section-card-light {
  color: var(--neutral-dim-gray);
  background-color: var(--neutral-anti-flash-white);
}
.section-card-light p {
  color: var(--neutral-outer-space);
}
button {
  align-self: flex-start;
  background-color: var(--primary-color);
  border: 5px solid var(--support-color-teal);
  border-radius: var(--border-radius-pill);
  box-shadow: inset 2px 2px 2px 2px rgb(255, 255, 255, 0.7),
    inset -2px -2px 2px 3px rgb(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: var(--neutral-anti-flash-white);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  margin: 0 auto;
  padding: 0.7em 1em;
  width: auto;
}
.dark-button {
  align-self: flex-start;
  background-color: var(--neutral-outer-space);
  border: 5px solid var(--neutral-dim-gray);
  border-radius: var(--border-radius-pill);
  box-shadow: inset 2px 2px 2px 2px rgb(255, 255, 255, 0.4),
    inset -2px -2px 2px 3px rgb(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: var(--neutral-metallic-silver);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  margin: 0 auto;
  padding: 0.625em 1.25em;
  width: auto;
}

#nav-container {
  display: flex;
}
#nav-menu ul {
  display: flex;
  list-style: none;
  gap: 2em;
}
#nav-menu ul :is(ul) {
  position: absolute;
  display: none;
}
#nav-menu a {
  font-family: var(--font-body);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none;
  color: var(--neutral-anti-flash-white);
  font-family: var(--font-heading);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.15rem;
}
/* test */
#hero-phone-number-mobile {
  background-color: var(--neutral-outer-space);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#hero-phone-number-mobile p {
  font-size: var(--font-size-heading-mobile);
  color: var(--neutral-anti-flash-white);
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-heading);
}
#hero-bg-image {
  overflow: hidden;
}
#hero-bg-image img {
  height: 80vh;
  object-fit: cover;
  transform: translateX(-36%);
}

#hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18%;
  z-index: 1;
  height: 74%;
  color: white;
  padding: 1rem;
}
.hero-headings {
  flex: 1;
}
.hero-CTA {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.section-container {
  width: 90%;
}
#homepage-about {
  background-color: var(--neutral-outer-space);
}
#homepage-about .section-card {
  display: flex;
}
#homepage-about-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0% 4%;
}
#residential-commercial {
  display: flex;
  background-color: var(--neutral-outer-space);
  padding: 3.5em 1em 6em;
}

#residential-commercial .section-container {
  display: flex;
}
#residential-commercial p {
  margin-bottom: 3.5em;
}
#res-com-btns {
  justify-self: center;
  display: flex;
  gap: 3rem;
}
#map-container {
  flex: 3;
  place-content: center;
  border: 10px solid var(--primary-color);
  border-radius: var(--border-radius-circle);
  overflow: hidden;
  max-width: 18rem;
  max-height: 18rem;
  aspect-ratio: 1/1;
  align-items: center;
  margin: 0 auto 2em;
}

#map {
  border-radius: var(--border-radius-circle);
  box-shadow: inset 0px 0px 40px 30px var(--neutral-outer-space);
}
#map-container img {
  width: 18rem;
}
#residential-commercial-body {
  flex: 1;
}
#homepage-services {
  background-color: var(--neutral-anti-flash-white);
  padding: 2rem 2rem 2rem 2rem;
}
#homepage-services .section-container{
  flex-direction: column;

}
#homepage-services-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
  .homepage-service-item{
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  background-color: var(--support-color-teal);
  text-align: center;
  align-items: center;
}
.homepage-service-item-body{
color: white;
margin: 2rem;
}

#homepage-services-gallery img{
  width: 100%;
}
#homepage-services-gallery img:hover{
  opacity: .2;
}
#homepage-services-item:focus img{
  opacity: .2;
}
.stack {
  display: grid;
}
.stack > * {
  grid-area: 1/1;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
}
#testimonials {
  position: relative;
}

.testimoninal-cards-container article:nth-last-child(-n + 5) {
  display: none;
}
.testitmonials-bottom-fade:after {
  position: absolute;
  left: 0px;
  bottom: 0;
  height: 10%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgb(0, 174, 239) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* so the text is still selectable */
}
.testimoninal-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: space-between;
}
.card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  height: 350px;
  color: var(--neutral-dim-gray);
  overflow: hidden;
  padding: 1.5em;
  border-radius: var(--border-radius-lg);
  border: 10px solid var(--neutral-metallic-silver);
}
.card__content-hider--bottom:after{
  position: absolute;
  bottom: 0px;
  left:0px; 
  height: 50%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* so the text is still selectable */
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}
.profile__placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-anti-flash-white);
  font-family: "Questrial", sans-serif;
  font-weight: 600;
  font-size: 1.825rem;
  padding: .825rem;
  background-color: var(--accent-color);
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.profile__name {
  color: var(--neutral-outer-space);
  font-weight: var(--font-weight-bold);
}
.star-rating {
  color: var(--accent-color);
  text-align: center;
  padding: .5rem;
}
.testimonial-card:after {
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* so the text is still selectable */
}
.testimonial-rating-average {
  display: flex;
  background-color: white;
}
.testimonial-rating-average p {
  font-family: "Questrial", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  margin: 0px;
  color: var(--neutral-dim-gray);
}
.testimonial-heading-stars .material-symbols-rounded {
  color: var(--accent-color);
  font-size: 0.8rem;
}

.testimonial-header h2 {
  width: 100%;
  font-family: "Questrial", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
}

/* ==========   CLIENT-PROCESS   =========== */
#client-process{
  background-color: var(--neutral-anti-flash-white);
}
/* =============   FORM   ================== */
#form{
  background-color: var(--neutral-dim-gray);
}
.form-card{
  background-color:var(--background-primary);
}
.form-container{
  padding: 0% 5%;
}
.form-card h2{
  text-align: center;
  margin: 2rem 0;
  font-family:'Questrial', sans-serif;
  font-weight: 900;
  color: white;
}
.form-card input, .form-card textarea{
display: block;
width: 100%;
border: none;
border-radius: var(--border-radius-md);
}
.form-card label{
  color: teal;
  font-weight: 700;
  color: var(--neutral-anti-flash-white);
  font-family: 'questrial', sans-serif;
}
.form-card input{
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 3rem;
  font-family: "questrial", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 1.2rem;
  color: var(--neutral-dim-gray);
  padding-left: 1rem;
}
.form-card input:focus{
  color: var(--neutral-outer-space);
}
.form-card textarea{
  height: 5.5rem;
  margin-top: 1rem;
}
.form-card input:focus{
  outline: none;
border: 3px solid var(--accent-color);
}

.form-btn button{
  display: block;
  width: fit-content;
  margin: 2rem auto;
  padding: .825em 2em;
}

footer {
  background-color: var(--neutral-outer-space);
}
/*TODO ****************** TEMP AREA *********************** */
#homepage-about img {
  width: 100px;
}
#nav-container {
  /* display: none; */
}
/*TODO **************************************************** */
/* Larger than mobile */
@media (min-width: 360px) and (min-height: 640px) {
  #homepage-about {
    background-color: var(--neutral-anti-flash-white);
  }
  #homepage-about .section-card {
    flex-direction: column;
  }
  section {
    padding: 0%;
  }
  .section-card {
    border-radius: 0px;
    border: none;
    padding: 8% 0% 0%;
  }
  .section-container {
    width: 100%;
  }
  #homepage-about p {
    padding-bottom: 10%;
  }
  #homepage-about-image {
    padding: 20px;
  }
  #homepage-about img {
    width: 100%;
    border-radius: var(--border-radius-lg);
  }
  #homepage-about button {
    margin-bottom: 15%;
  }
  #residential-commercial .section-container {
    flex-direction: column;
  }

  .testitmonials-bottom-fade:after {
    height: 30%;
    background: linear-gradient(
      to top,
      rgb(0, 174, 239) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  #testimonials {
    padding: 40px 0px 0px 0px;
  }
  .testimonial-header {
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
  }
  .testimonial-header h2 {
    font-size: 1.8rem;
    order: -1;
  }
  .testimonial-rating-average {
    border-radius: var(--border-radius-lg);
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 40px auto;
    padding: 20px 50px;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  #homepage-about {
    background-color: var(--neutral-outer-space);
  }
  section {
    padding: 6% 2%;
  }
  .section-card {
    border-radius: var(--border-radius-lg);
    border: 8px solid var(--neutral-dim-gray);
  }
  .section-container {
    width: 100%;
    padding: 0rem;
  }

  #homepage-about-image {
    flex: 2;
    padding: 0rem;
  }
  #homepage-about img {
    width: 100%;
    border-radius: 0rem;
    right: 10%;
  }
  #homepage-about-body {
    flex: 1;
    padding: 0% 4% 4%;
  }
  #homepage-about p {
    padding-bottom: 0%;
    margin: 0%;
    font-size: var(--font-size-body);
  }
  #homepage-about button {
    margin-top: 5%;
    margin-bottom: 0%;
  }
  #residential-commercial-body {
    padding: 0rem 2rem;
  }
  #homepage-services .section-card {
    flex-direction: column;
  }
  .card {
    flex: 1 1 calc(33.333% - 2rem);
  }
  .testitmonials-bottom-fade:after {
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 30%;
    width: 100%;
    content: "";
    background: linear-gradient(
      to top,
      rgb(0, 174, 239) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none; /* so the text is still selectable */
  }
  .testimoninal-cards-container article:nth-last-child(-n + 9) {
    display: block;
  }
  .testimonial-header {
    display: flex;
    flex-direction: row;
    padding: 0px 5%;
    align-items: center;
  }
  .testimonial-header h2 {
    font-size: 3rem;
    order: 0;
  }
  .testimonial-rating-average {
    width: fit-content;
    border-radius: var(--border-radius-lg);
    flex-direction: column;
    padding: 30px 20px 20px;
  }
  .testimonial-rating-average p {
    font-size: 4.3rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  #hero-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 72%;
    width: 90%;
    z-index: 1;
    text-align: center;
    color: white;
  }
  #hero-bg-image img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    transform: translateX(0%);
  }
  #nav-container {
    align-items: center;
    justify-content: space-between;
    padding: 0px 4% 0px 2%;
  }
  #nav-menu ul {
    display: flex;
    list-style: none;
    gap: 4em;
  }
  #nav-menu ul :is(ul) {
    position: absolute;
    display: none;
  }
  .section-container {
    width: 95%;
  }
  #homepage-about .section-card {
    flex-direction: row;
  }
  #homepage-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #homepage-about-image {
    flex: 1;
  }
  #homepage-about-body {
    flex: 2;
  }
  #residential-commercial .section-container {
    flex-direction: row;
  }
  #residential-commercial-body {
    padding: 0rem 2rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .section-container {
    width: 80%;
  }
  #hero-content {
    top: 50%;
    height: 80%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  section {
    padding: 4% 0%;
  }
  .section-container {
    width: 80%;
    max-width: 75rem;
  }
  #homepage-about button {
    margin-top: 3%;
  }
}
