/*==========================================================================================

Root

==========================================================================================*/
:root {
  --primary-color: #00aeed;
  --secondary-color: #e20079;
  --tertiary-color: #237793;
  --anti-flash-white-color: #f1f1f3;
  --outer-space-grey-color: #464350;
  --dim-grey-color: #656472;
}

body {
  background-color: var(--primary-color);
}
ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.header-background {
  background-image: url("assets/images/1x.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: relative;
}

nav {
  position: fixed;

  height: 11%;
  background-color: var(--primary-color);
  width: 100vw;
  top: 0;
  box-shadow: 0px 10px 20px rgb(0, 80, 110, 0.25);
  z-index: 2;
}
@keyframes open-navbar-mobile {
  0% {
    height: 11%;
  }
  100% {
    height: 100%;
  }
}
@keyframes close-navbar-mobile {
  0% {
    height: 100%;
  }
  100% {
    height: 11%;
  }
}
.navbar-mobile-animate-open {
  animation: open-navbar-mobile 0.8s;
}
.navbar-mobile-animate-close {
  animation: close-navbar-mobile 0.4s;
}
#nav-container {
  display: flex;
  flex-direction: column;
}
#home-and-mobile {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 10s;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-in 0.3s;
}
#nav-menu ul li {
  text-align: center;
}
#nav-menu ul li a {
  display: inline-block;
  padding: 15px 45px;
  text-decoration: none;
  /* background-color: #e20079; */
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes menu-btn-animate-to-x-line-one {
  0% {
    top: 0%;
    transform: rotate(0deg);
  }
  50% {
    top: 40%;
    transform: rotate(0deg);
  }
  100% {
    top: 40%;
    transform: rotate(45deg);
  }
}
@keyframes menu-btn-animate-to-x-line-two {
  0% {
    top: 50%;
    transform: rotate(0deg);
  }
  50% {
    top: 40%;
    transform: rotate(0deg);
  }
  100% {
    top: 40%;
    transform: rotate(-45deg);
  }
}
@keyframes menu-btn-animate-to-x-line-three {
  0% {
    top: 100%;
    transform: rotate(0deg);
  }
  50% {
    top: 40%;
    transform: rotate(0deg);
  }
  100% {
    top: 40%;
    transform: rotate(-45deg);
  }
}
@keyframes menu-btn-animate-to-burger-line-one {
  0% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  50% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(0deg);
  }
  100% {
    top: 0%;
    transform: translateY(50%);
    transform: rotate(0deg);
  }
}
@keyframes menu-btn-animate-to-burger-line-two {
  0% {
    top: 40%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  50% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(0deg);
  }
  100% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(0deg);
  }
}
@keyframes menu-btn-animate-to-burger-line-three {
  0% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  50% {
    top: 52%;
    transform: translateY(-50%);
    transform: rotate(0deg);
  }
  100% {
    top: 100%;
    transform: translateY(-100%);
    transform: rotate(0deg);
  }
}

#nav-mobile-menu-button {
  top: 10px;
  margin-right: 10px;
  position: relative;
  width: 40px;
  height: 25px;
  /* background-color: grey; */
}
.nav-mobile-menu-line {
  position: absolute;
  border-radius: 3px;
  width: 100%;
  height: 6px;
  background-color: white;
}
.nav-mobile-menu-line-one {
  top: 0%;
  transform: translateY(0%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-two {
  top: 50%;
  transform: translateY(0%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-three {
  top: 100%;
  transform: translateY(-100%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-one-burger {
  animation: menu-btn-animate-to-burger-line-one 1s;
  top: 0%;
  transform: translateY(0%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-two-burger {
  animation: menu-btn-animate-to-burger-line-two 1s;
  top: 50%;
  transform: translateY(0%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-three-burger {
  animation: menu-btn-animate-to-burger-line-three 1s;
  top: 100%;
  transform: translateY(-100%);
  transform: rotate(0deg);
}
.nav-mobile-menu-line-one-x {
  animation: menu-btn-animate-to-x-line-one 1s;
  top: 40%;
  transform: translateY(-60%);
  transform: rotate(45deg);
}
.nav-mobile-menu-line-two-x {
  animation: menu-btn-animate-to-x-line-two 1s;
  top: 40%;
  transform: translateY(-60%);
  transform: rotate(135deg);
}
.nav-mobile-menu-line-three-x {
  animation: menu-btn-animate-to-x-line-three 1s;
  top: 40%;
  transform: translateY(-60%);
  transform: rotate(135deg);
}

/* Portrait Smartphones (320px - 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  /* Styles for portrait smartphones */
  .header-background {
    background-image: url("../assets/images/3x.jpg");
    background-position: -450px;
    height: 600px;
  }
}

/* Landscape Smartphones (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for landscape smartphones */
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}
@media (max-width: 1025px) {
  #remove-about-services {
    display: none;
  }
  .remove-from-document {
    display: none;
  }
}
@media (min-width: 1025px) {
  #remove-about-services {
    display: block;
  }
  nav {
    position: fixed;
    height: 11%;
  }
  #nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4%;
  }
  #nav-mobile-menu-button {
    display: none;
  }
  #nav-menu {
    background-color: var(--primary-color);
    padding: 0px 4% 0px 4%;
  }
  #nav-menu ul li a {
    display: inline-block;
    padding: 35px 45px;
    text-decoration: none;
    /* background-color: #e20079; */
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
  #nav-menu ul li a {
    display: inline-block;
    padding: 35px 45px;
  }
  #nav-menu > ul > li:hover {
    position: relative;
  }
  #nav-menu > ul > li::after {
    content: ""; /* Required for pseudo-element */
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Full width of the parent element */
    height: 3px; /* Line thickness */

    transition: background-color 0.3s ease; /* Optional: Smooth hover effect */
  }
  #nav-menu ul li ul.dropdown li {
    display: block;
    text-align: center;
    padding-inline-start: 0px;
  }

  #nav-menu ul li ul.dropdown {
    /* width: 100%; */
    margin-top: 2px;
    background-color: var(--primary-color);
    position: absolute;
    /* z-index: -1; */
    display: none;
    box-shadow: 0px 0px 120px -50px var(--secondary-color);
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #nav-menu ul li ul.dropdown li::after {
    content: none; /* Disable line for dropdown items */
  }
  #nav-menu > ul > li:hover::after {
    background-color: var(--secondary-color);
  }
  #nav-menu ul {
    list-style: none;
  }
  #nav-menu ul li {
    display: inline-block;
    position: relative;
    height: 100%;
  }

  #nav-menu ul li:hover ul.dropdown {
    display: block;
  }
  #nav-menu .dropdown li a {
    padding: 20px;
  }
  #nav-menu .dropdown li:hover {
    background-color: var(--tertiary-color);
  }

  .hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12%;
    background: linear-gradient(
        25deg,
        rgba(35, 119, 147, 1) 0%,
        rgba(35, 119, 147, 0) 30%
      ),
      linear-gradient(
        -25deg,
        rgba(35, 119, 147, 1) 0%,
        rgba(35, 119, 147, 0) 60%
      ),
      linear-gradient(
        135deg,
        rgba(35, 119, 147, 1) 0%,
        rgba(35, 119, 147, 0) 25%
      ),
      linear-gradient(
        -135deg,
        rgba(35, 119, 147, 1) -20%,
        rgba(35, 119, 147, 0) 35%
      );
    height: 88%;
    z-index: 1;
    width: 100vw;
  }
  .hero-headings {
    flex: 2;
    padding-top: 2%;
  }
  .hero-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 12rem;
  }
  .hero-CTA a {
    padding-top: 1rem;
    text-decoration: none;
    color: white;
    font-family: "questrial", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .hero-headings h1 {
    font-size: 4rem;
  }
  .hero-CTA a:hover {
    color: var(--secondary-color);
  }

  .hero :is(h1, h2) {
    /* position: absolute; */
    margin: 0px;
    text-align: center;
    width: 100%;
    color: white;
    font-family: "questrial", sans-serif;

    /* transform: translate(-50%, 0); */
  }
  .hero h2 {
    font-size: 2rem;
  }
  button {
    background-color: var(--primary-color);
    height: 60px;
    width: 20rem;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border: 4px solid var(--tertiary-color);
    box-shadow: inset -2px -3px 1px 2px rgb(0, 0, 0, 0.3),
      inset 2px 3px 1px 2px rgb(255, 255, 255, 0.7);
  }
  button:hover {
    background-color: rgb(20, 194, 255);
    height: 62px;
    cursor: pointer;
    padding: 15px 22px;
    border-radius: 30px;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    border: 4px solid rgb(255, 20, 160);
    box-shadow: inset -4px -5px 1px 2px rgb(0, 0, 0, 0.3),
      inset 3px 4px 1px 2px rgb(255, 255, 255, 0.7),
      0px 0px 30px rgb(236, 0, 140);
  }
  button:active {
    background-color: rgb(20, 194, 255);
    height: 62px;
    padding: 15px 22px;
    border-radius: 30px;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    border: 4px solid rgb(255, 78, 184);
    box-shadow: inset 4px 5px 1px 2px rgb(0, 0, 0, 0.3),
      inset -1px -2px 1px 2px rgb(255, 255, 255, 0.7),
      0px 0px 50px rgb(255, 78, 184);
  }
  @keyframes about-short-bg-light-up {
    0% {
      background-color: var(--outer-space-grey-color);
    }
    100% {
      background-color: white;
    }
  }
  @keyframes about-short-bg-dim {
    0% {
      background-color: white;
    }
    100% {
      background-color: var(--outer-space-grey-color);
    }
  }

  #about-short {
    background-color: var(--outer-space-grey-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
  }
  .about-short-background-change-to-light {
    animation: about-short-bg-light-up 2s;
  }
  .about-short-background-change-to-dark {
    animation: about-short-bg-dim 10s;
  }
  #about-short img {
    height: 100%;
    aspect-ratio: auto;
  }
  #about-short-body {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    flex: 4;
    padding: 0px 30px;
  }
  #about-short-body-text {
    flex: 3;
    color: var(--dim-grey-color);
  }
  #about-short-body-text h2 {
    font-family: "questrial", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--outer-space-grey-color);
  }
  #about-short-cta {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    flex: 1;
  }
  #about-short-cta button:hover {
    border: 4px solid var(--tertiary-color);
    box-shadow: inset -4px -5px 1px 2px rgb(0, 0, 0, 0.3),
      inset 3px 4px 1px 2px rgb(255, 255, 255, 0.7),
      0px 0px 30px rgb(236, 0, 140, 0.2);
  }
  #about-short-cta button:active {
    border: 4px solid var(--tertiary-color);
    box-shadow: inset 4px 5px 1px 2px rgb(0, 0, 0, 0.3),
      inset -3px -4px 1px 2px rgb(255, 255, 255, 0.7),
      0px 0px 30px rgb(236, 0, 140, 0.2);
  }

  #about-short .section-card {
    display: flex;
    margin: 0px 10%;
    font-family: "Noto Serif", serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .section-card {
    box-sizing: border-box;
    border-radius: 40px;
    border: 10px solid white;
    box-shadow: 10px 10px 60px -40px var(--outer-space-grey-color);
    overflow: hidden;
    background-color: var(--anti-flash-white-color);
  }
  #residential-commercial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--outer-space-grey-color);
  }
  #map-container {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: var(--outer-space-grey-color);
    border: 15px solid var(--primary-color);
    overflow: hidden;
  }
}

/* Small Laptops (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for small laptops */
  .header-background {
    background-image: url("../assets/images/3x.jpg");
    background-position: -450px;
    height: 600px;
  }
}

/* Large Laptops and Desktops (1201px - 1600px) */
@media (min-width: 1201px) and (max-width: 1600px) {
  /* Styles for large laptops and desktops */
  .header-background {
    background-image: url("../assets/images/3x.jpg");
    height: 700px;
  }
}

/* Ultra-Wide Screens (1601px and above) */
@media (min-width: 1601px) {
  /* Styles for ultra-wide screens */
  .header-background {
    background-image: url("../assets/images/3x.jpg");
    height: 850px;
  }
  .header-background-night {
    background-image: url("../assets/images/hero-lights-on-3x.jpg");
    height: 850px;
    background-size: cover;
  }
}
